 <% if flash[:notice] %>
    <div class = "alert alert-success"><%= flash[:notice] %></div>
  <% end %>

<div class="section" id="s1">
    <div class="content" id="c1">  </div>
</div>
<div class="section" id="s2">
    <div class="content" id="c2"></div>
</div>
<div class="section" id="s3">
    <div class="content" id="c3"></div>
</div>