.devise_module{
background-color: #2c2c2c;
width: 220px ;
margin: 0 auto;
}

.devise_form_bg{
background-color: #2c2c2c;
}

.auth_heading{
font-family: 'Lobster', Georgia, Times, serif;
font-size: 70px;
line-height: 100px;
text-align: center ;
color:#00CCFF;
}

.centered{
text-align:center;
}

.session_text{
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    color:white;
}

.password_heading{
text-align: center ;
 font-family: 'Dancing Script', Georgia, Times, serif;
 font-size: 20px;
 line-height: 20px;
 color:#FF9900;
 padding: 60px 0px 20px 0px;
}