// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section {
    position:relative;
    z-index:1;
    height:700px;
    width:100%;
    background-attachment:fixed;    /* this keeps the background in place */
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.content {
    position:relative;
    z-index:2;
    background-color:#fff;
    height:0%;    /* this height difference allows the bg to show through */
}

#c1 {
  background-color:#333333;
}

#c2 {
  background-color:#333333;
}

#c3 {
  background-color:#333333;
}


.section#s1 {
    background-image: url(http://www.bayonnenj.org/assets/uploads/2013/02/finance3.jpg);
    opacity:0.5;
}
.section#s1:hover {
    opacity:1.0;
}
.section#s2 {
    background-image: url(http://matthewsnc.gov/Portals/0/Departments/Finance/finance.jpg);
    opacity:0.5;
}
.section#s2:hover {
    opacity:1.0;
}
.section#s3 {
    background-image: url(http://cdnedge.vinsolutions.com/dealerimages/Dealer%203514%20Images/joyce-koons-honda-finance.jpg);
    opacity:0.5;
}
.section#s3:hover {
    opacity:1.0;
}