         <div id="user_nav">
             <% if user_signed_in? %>
               Signed in as <%= current_user.email %>. Not you?
               <div class = "btn btn-danger"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %></div>
             <% else %>
               <div class = "btn"> <%= link_to "Sign up", new_user_registration_path %></div> or
               <div class = "btn btn-warning"> <%= link_to "Sign in", new_user_session_path %></div>
             <% end %>
          </div>